*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #efefef;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-content{
    width: 100%;
    margin: 30px auto;
    padding: 20px;
    text-align: center;
}

button{
    background-color: royalblue;
    color: #fff;
    border: 1px solid royalblue;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
    
}
 #model-container{
   width: 30%;
   background-color: #fff;
   height: 100vh;
   position: absolute;
   top: 0;
   padding: 10px;
   border: 1px solid #efefef;
}

.model-header{
    padding: 20px;
    border-bottom: 2px solid #efefef;
}
.model-content {
    padding: 20px;
    border-bottom: 2px solid #efefef;
    min-height: 300px;
}
.model-footer {
    padding: 20px;
    border-bottom: 2px solid #efefef;
    height: 100px;
}
form{
    width: 100%;
    background: #fff;
    padding: 10px;
}
label{
    width: 100%;
    display: block;
    padding: 10px 0; 
}
.form-group {
    padding: 10px;
}
input{
    width: 100%;
    padding: 10px 20px;
    margin: 5px 0;
    border: 1px solid #efefef;
    border-radius: 5px;
}