/* *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #111;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#videoBlock{
    width:100%;
    height: 100%;

}
#videoBlock article {
    width: 90%;
    margin: 0 auto;
}
#videoBlock  video{
    width: 100%;
    height: 600px;
} */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #111;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

#videoBlock {
    width: 100%;
    height: 100%;
}

#videoBlock>article {
    width: 80%;
    margin: 20px auto;
    display: flex;
    gap: 10px;
}

.left {
    flex-basis: 75%;
    width: 90%;
    height: 400px;
}

.right {
    flex-basis: 25%;
}

.right img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
}

.videoItem {
    padding: 10px 0;

}

h2 {
    font-size: 14px;
    color: #666;
}
.v1{
    width: 100%;
    height: 500px;
}